.myheader{
    background-color:#f87217;
    width:100%;
    height:150px;
    line-height:9em;
    text-align: center;
}
.style1{
    color:white;
    font-size: 3em;
    font-weight: bold;
}
.style2{
    color:white;
    font-size: 3em;
    font-weight:lighter;
}
a{
    color:#333333;
}